.sidebar {
    width: 12vw;
    background-image: linear-gradient(to right bottom, #9881f5, #8b77d9, #7f6dbe, #7263a4, #65598a);
    height: 100vh;
    position: fixed;
    left: 0;
    box-shadow: -1px 5px 9px 1px #3e419c59;
}

.prjct{
    height: 13vh;
    transition: height 0.3s linear ;
}

.nav-open{
    height: 20vh;  
}

.sidebar h1 {
    margin: 0;
}