@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8B8BC4;
}

p {
    color: #fb3a71;
}

h1{
    font-size: 1.6rem;
    color: #f6f6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
